config.ini
cust.py
purchase.py
rfmtest.py
salesreciept.py
transactiondata.py
webform.py
model.py
SQL
novertex_Biscotti.py
novertex_Pastry.py
novertex_Scone.py
tibame.json
sql_biscotti.py
sql_pastry.py
sql_scone.py
tibame.json
vertex_Biscotti.py
vertex_Pastry.py
vertex_Scone.py